.App {
  background-color: rgb(23, 4, 54);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  border: 2px solid rgb(0, 255, 242);
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  padding: 35px;
}
